<!-- Botones de compartir -->
<div class="aviso-actions">


    <div class="share-buttons">
        <a href="https://api.whatsapp.com/send?text={{ aviso['Titulo'] | urlencode }}%0A%0A{{ aviso['TextoResumidoCorto'] | urlencode }}%0A%0A{{ url_for('mostrar_aviso', id=aviso.Id, _external=True) | urlencode }}"
            class="share-btn whatsapp" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-whatsapp"></i>Whatsapp
        </a>
        <a href="https://t.me/share/url?text={{ aviso['Titulo'] | urlencode }}%0A%0A{{ aviso['TextoResumidoCorto'] | urlencode }}%0A%0A{{ url_for('mostrar_aviso', id=aviso.Id, _external=True) | urlencode }}"
            class="share-btn telegram" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-telegram"></i>Telegram
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('mostrar_aviso', id=aviso.Id, _external=True) | urlencode }}&title={{ aviso['Titulo'] | urlencode }}&description={{ aviso['TextoResumidoCorto'] | urlencode }}"
            class="share-btn facebook" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook"></i>Facebook
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url_for('mostrar_aviso', id=aviso.Id, _external=True) | urlencode }}&title={{ aviso['Titulo'] | urlencode }}&summary={{ aviso['TextoResumidoCorto'] | urlencode }}&source=BoletínNOOficial"
            class="share-btn linkedin" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i>LinkedIn
        </a>
        <a href="https://X.com/intent/tweet?text={{ aviso['Titulo'] | urlencode }}%0A%0A{{ aviso['TextoResumidoCorto'] | urlencode }}%0A%0A{{ url_for('mostrar_aviso', id=aviso.Id, _external=True) | urlencode }}"
            class="share-btn X" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>X
        </a>
    </div>

    <button class="btn-copy-prompt" onclick="copyPrompt('{{ aviso['Texto'] | js_string }}')">
        ¡Quiero un resumen más completo!
    </button>
</div>