<header class="header-argentino">
    <div class="header-content">
        <h1 class="titulo-principal">
            <a href="/" class="titulo-link">Boletín No Oficial</a>
        </h1>
        <div class="subtitulo">
            <span class="bandera-argentina">🇦🇷</span>
            <span>La info del oficial, pero en criollo</span>
            <span class="bandera-argentina">🇦🇷</span>
        </div>
        <div class="autor-container">
            <span class="by">by</span>
            <a href="https://www.linkedin.com/in/nrmattar" target="_blank" class="autor-link">
                <span class="mate-icon">🧉</span> Nahuel
            </a>
        </div>
        <div class="subtitulo actualizacion">
            Se muestra información a partir de: <b>{{ fecha_desde | trim}}.</b> Fecha Última Actualización: <b>{{
                fecha_actualizacion | trim }}.</b>
        </div>        
    </div>
</header>