<header class="header-argentino">
    <div class="header-content">
        <h1 class="titulo-principal">
            <a href="/" class="titulo-link">Boletín No Oficial</a>
        </h1>
        <div class="subtitulo">
            <span class="bandera-argentina">🇦🇷</span>
            <span>La info del oficial, pero en criollo</span>
            <span class="bandera-argentina">🇦🇷</span>
        </div>
        <div class="autor-container">
            <span class="by">by</span>
            <a href="https://www.linkedin.com/in/nrmattar" target="_blank" class="autor-link">
                <span class="mate-icon">🧉</span> Nahuel
            </a>
        </div>
        {% if request.endpoint == 'index' %}
        <div class="subtitulo actualizacion">
            Info desde: <b class="dd-mm-yyyy" data-utc="{{ fecha_desde }}">Cargando...</b><b>-</b>Hasta: <b class="timestamp-utc" data-utc="{{ fecha_actualizacion }}">Cargando...</b>
          </div>
        {% endif %}      
    </div>
</header>
<div class="disclaimer">
    Los avisos fueron extraídos del Boletín Oficial y resumidos con Modelos de IA. Puede haber errores.
</div>