

.filtro-text::placeholder,
.filtro-category::placeholder {
    color: #9ca3af;
}


.filtro-clear {
    color: #ef4444;
}

.filtro-clear:hover {
    background-color: #fef2f2;
}

.opcion-sugerencia {
    padding: 5px 10px;
    cursor: pointer;
}
.opcion-sugerencia:hover {
    background-color: #f0f0f0;
}


/* Contenedor interno */
.header-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}


/* Animación de copiado */
@keyframes copied {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.copied-animation {
    animation: copied 0.3s ease;
}
