<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>{{ aviso.Titulo }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="https://www.boletinoficial.gob.ar/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="container">
        {% include 'encabezado.html' %}

        <div class="aviso">
            <div class="titulo">
                <h2>{{ aviso.Titulo }}</h2>
            </div>
            <div class="fecha">
                Publicado el {{ aviso.FechaPublicacion }} (Modelo utilizado: {{ aviso.Modelo }})
            </div>
            <div class="TextoResumido">

                {{ aviso.TextoResumidoCorto | safe}}{{ aviso.TextoResumidoLargo | safe}}
            </div>

            {% include 'compartir_y_copiar.html' %}

        </div>

        {% include 'donar.html' %}
        {% include 'ia_modal.html' %}
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>