<!DOCTYPE html>
<html lang="es">

{% include 'macros/head.html' %}

<body>
    <div class="container">

        {% include 'macros/encabezado.html' %}


        {% include 'macros/filtros.html' %}
        

        {% for aviso in avisos %}
        <div class="aviso">
            <div class="titulo">
                <a href="{{ aviso['Enlace'] }}" target="_blank">
                    {{ aviso['Titulo'] }}{% if '?anexo' in aviso['Enlace'] %} (ANEXO){% endif %}
                  </a>

            </div>

            <div class="fecha">
                Publicado el {{ aviso['FechaPublicacion'] }} (Modelo utilizado: {{ aviso['Modelo'] }})
            </div>
            <div class="TextoResumido" id="TextoResumido-{{ loop.index }}">
                {{ aviso['TextoResumidoCorto'] }}{% if aviso['TextoResumidoLargo'] %}<span id="more-{{ loop.index }}"
                    style="display:none;">{{ aviso['TextoResumidoLargo'] }}</span><span
                    id="dots-{{ loop.index }}">...</span>{% endif %}
            </div>
            {% if aviso['TextoResumidoLargo'] %}
            <button onclick="toggleTextoResumido({{ loop.index }})" id="btn-{{ loop.index }}">Mostrar más</button>
            {% endif %}

            {% include 'macros/compartir_y_copiar.html' %}


        </div>
        {% endfor %}

        <div class="pagination">
            {% set current_fecha = request.args.get('fecha', '') %}
            {% set current_titulo = request.args.get('titulo', '') %}

            {% if pagina > 1 %}
            <a href="{{ url_for('index', pagina=pagina - 1, fecha=current_fecha, titulo=current_titulo) }}">&laquo;
                Anterior</a>
            {% endif %}
            <span>Página {{ pagina }} de {{ total_paginas }}</span>
            {% if pagina < total_paginas %} <a
                href="{{ url_for('index', pagina=pagina + 1, fecha=current_fecha, titulo=current_titulo) }}">Siguiente
                &raquo;</a>
                {% endif %}
        </div>

        {% include 'macros/donar.html' %}

    </div>

    {% include 'macros/ia_modal.html' %}

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>