<!DOCTYPE html>
<html lang="es">

{% include 'macros/head.html' %}

<body>
    <div class="container">

        {% include 'macros/encabezado.html' %}

        {% include 'macros/filtros.html' %}
        
        {# Primero agrupamos los avisos por categoría #}
        {% set avisos_por_categoria = {} %}
        {% for aviso in avisos %}
            {% if aviso['Categoria'] not in avisos_por_categoria %}
                {% set _ = avisos_por_categoria.update({aviso['Categoria']: []}) %}
            {% endif %}
            {% set _ = avisos_por_categoria[aviso['Categoria']].append(aviso) %}
        {% endfor %}

        {# Luego iteramos por cada categoría #}
        {% for categoria, avisos_categoria in avisos_por_categoria.items() %}
        <div class="categoria-grupo">
            <h2 class="categoria-titulo">{{ categoria }}</h2>
            
            {# Iteramos los avisos de esta categoría #}
            {% for aviso in avisos_categoria %}
            <div class="aviso">
                <div class="titulo">
                    <a href="{{ aviso['Enlace'] }}" target="_blank">
                        {{ aviso['Titulo'] }}{% if '?anexo' in aviso['Enlace'] %} (ANEXO){% endif %}
                    </a>
                </div>

                <div class="fecha">
                    Publicado el <span class="dd-mm-yyyy" data-utc="{{ aviso['FechaPublicacion'] }}">Cargando...</span> (Modelo IA utilizado: {{ aviso['Modelo'] }})
                </div>
                <div class="TextoResumido" id="TextoResumido-{{ loop.index }}">
                    {{ aviso['TextoResumidoCorto'] }}{% if aviso['TextoResumidoLargo'] %}<span id="more-{{ loop.index }}"
                        style="display:none;">{{ aviso['TextoResumidoLargo'] }}</span><span
                        id="dots-{{ loop.index }}">...</span>{% endif %}
                </div>
                {% if aviso['TextoResumidoLargo'] %}
                <button onclick="toggleTextoResumido({{ loop.index }})" id="btn-{{ loop.index }}">Mostrar más</button>
                {% endif %}

                {% include 'macros/compartir_y_copiar.html' %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="pagination">
            {% set current_fecha = request.args.get('fecha', '') %}
            {% set current_categoria = request.args.get('categoria', '') %}
            {% set current_texto = request.args.get('texto', '') %}

            {% if pagina > 1 %}
            <a href="{{ url_for('index', pagina=pagina - 1, fecha=current_fecha, categoria=current_categoria, texto=current_texto) }}">&laquo;
                Anterior</a>
            {% endif %}
            <span>Página {{ pagina }} de {{ total_paginas }}</span>
            {% if pagina < total_paginas %} <a
                href="{{ url_for('index', pagina=pagina + 1, fecha=current_fecha, categoria=current_categoria, texto=current_texto) }}">Siguiente
                &raquo;</a>
                {% endif %}
        </div>

        {% include 'macros/donar.html' %}

    </div>

    {% include 'macros/ia_modal.html' %}

    <script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>